<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(Years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, sed! Provident, fuga, pariatur sunt,
                eum recusandae voluptas est dolorem cumque necessitatibus nostrum impedit voluptate quis alias commodi
                ut! Ducimus, quaerat.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(Years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, sed! Provident, fuga, pariatur sunt,
                eum recusandae voluptas est dolorem cumque necessitatibus nostrum impedit voluptate quis alias commodi
                ut! Ducimus, quaerat.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(Years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, sed! Provident, fuga, pariatur sunt,
                eum recusandae voluptas est dolorem cumque necessitatibus nostrum impedit voluptate quis alias commodi
                ut! Ducimus, quaerat.
            </p>
        </ul>
    </div>

</div>